body{
      background-color: #171717;
       font-family : 'Gilam' , sans-serif ; 
}

.container{
      width: 90%;
      max-width: 1460px;
      margin: 0 auto;                                            
}

.header_wrapper{
      display: flex;
      justify-content: space-between;
      
}

.img_logo{
      width: 216px;
height: 33px;
align-self: center;
margin-top: 40px;
}


span{
color: 
rgba(228, 181, 100, 1);
font-weight: 400;
font-size: 18px;
line-height: 30px;
padding-left: 10px;

}

.button_link{
      margin-top: 40px;
     text-decoration: none; 
     border: 1px solid #E4B564;
     text-align: center;
     padding: 10px 26px 10px 25px;
}

.title{
    color: white;
font-weight: 700;
font-size: 50px;
}

.first_title{ 
margin-top: 128px;
margin-bottom: 41px;
}

.text1{
      color: white;
      width: 1182px;
font-size: 20px;
line-height: 28px;
}

.heating_network{
display: grid;
color: white;
font-size: 20px;
font-weight: 700;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 1fr);
row-gap: 27px;
column-gap: 30px;
margin-top: 41px;
grid-template-areas: 
"first first two two three three"
"four four four five five five"; 
font-family : 'Gilam' , sans-serif ; 
}

.item1{
      background-color:#634F2C;
      grid-area: first;
text-align: center;
padding: 220px 148px;   
}

.item2{
      background-color:  #B4A385;
      grid-area: two;
text-align: center;   
padding: 206px 44px;
}

.item3{
      background-color:  #E4B564;
      grid-area: three;
text-align: center;
padding: 220px 135px;    
}

.item4{
      background-color:  #635A4A;
      grid-area: four;
      text-align: center;
padding: 220px 162px;
}

.item5{
      background-color:  #B08C4D;
      grid-area: five;
text-align: center;
padding: 220px 238px;
}

.two_title{
margin-bottom: 94px;
margin-top: 161px;
}

.tech_park{
      box-sizing: content-box;
      font-weight: 400;
      font-size: 20px;
      line-height: 25p;
      display: grid;
      color: white;
      font-family: 'Gilam', sans-serif;                                            
grid-template-rows: 34fr 7fr 18fr 15fr 32fr ;
grid-template-columns: repeat(3, 1fr);
height: 873px;
column-gap: 30px;
row-gap: 24px;
grid-template-areas: 
"item_first item_two item_three"
"item_first item_two item_six"
"item_four item_two item_six"
"item_four item_five item_six"
"item_four item_five item_seven"
;
padding-bottom: 192px;

}

.item_first{
      background-color:  #0E0E0E;
      grid-area: item_first;
      
}

.item_two{
      background-color: rgba(36, 36, 36, 1);
      grid-area: item_two;

}

.item_three{
      background-color: rgba(31, 31, 31, 1);
      grid-area: item_three;
      
}

.item_four{
      background-color:  rgba(31, 31, 31, 1);
      grid-area: item_four;
      
}


.item_five{
      background-color: #E4B564;
      grid-area: item_five;
      align-self: start;
     padding-bottom: 280px;
color: #0E0E0E;

}

.item_six{
      background-color: #0E0E0E;
      grid-area: item_six;
      
}

.item_seven{
      background-color: #0A0909;
      grid-area: item_seven;
}

.tech_park_text{
      padding-top: 44px;
      padding-left: 50px;
}


.wrapper_2{
      margin-top: 172px;
      margin-bottom: 61px;
}
.three_title{
align-self: center;

}

.button_link2{
      font-family: 'Circe', sans-serif;
      color: rgba(228, 181, 100, 1);
      text-decoration: none; 
     border: 1px solid #E4B564;
     text-align: center;
     padding: 10px 40px; 
     align-self: center; 
}


.our_projects{
      background-color:#0E0E0E;
      padding-top: 95px;

}

.about_us{
      display: grid;
      color: white;
margin-bottom: 240px;
font-family: 'Circe', sans-serif;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,1fr);
}

.first{
      background-color: #634F2C;
      text-align: center;
      height: 391px;
      padding: 171px 151px;
}

.second{
      background-color: rgba(232, 210, 171, 0.76);
height: 391px;
text-align: center;
align-self: center;
padding-top: 64px;
padding-bottom: 61px;
}

.image_1{
      display: block;
      margin: 0 auto;
      margin-bottom: 3px;
     
}
.img_2{
      display: block;
      margin: 0 auto;
}

.text2{
      display: inline-block;
      margin-top: 16px;
      font-style: normal;
      font-size: 22px;
      line-height: 28px;
      width: 326px;
      text-align: center;
      color: white;
}

.third{
      background-color: #E4B564;
height: 391px;
padding: 174px 148px;
}
.fourth{
      background-color: #635A4A;    
height: 391px;
padding: 174px 148px;
}

.fifth{
      background-color: #B08C4D;
height: 391px;
text-align: center;
align-self: center;
padding-top: 169px;
padding-bottom: 169px;
}

.sixth{
      background-color: #634F2C;
height: 391px;
padding: 171px 151px;
}